<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("./partials/header") %>
   
    <p>MODELO DE REGISTER Y LOGIN</p>
  </body>
</html>
